<form class="form" id="{{formId}}" #signUpForm="ngForm" (ngSubmit)="isSignUpForm ? signUp($event) : doEdit($event)">
  {{diagnostic}}

  <div class="form__row">
    <div class="form__col">
      <div class="form__image"></div>
      <!--<label class="btn btn--tiny btn--link">Upload<input type="file" hidden></label>-->
    </div>
  </div>
  <div class="form__row">
    <div class="form__col form-group">
      <input class="form-control" type="text" placeholder="first name" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" required>
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">First name is required.</div>
    </div>
    <div class="form__col">
      <input class="form-control" type="text" placeholder="last name" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" required>
      <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Last name is required.</div>
    </div>
  </div>
  <div class="form__row">
    <div class="form__col">
      <input class="form-control" type="text" placeholder="e-mail" [(ngModel)]="user.email" name="email" #email="ngModel" email required>
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Valid e-mail is required.</div>
    </div>
  </div>
  <div class="form__row">
    <div class="form__col">
      <input class="form-control" type="password" placeholder="password" [(ngModel)]="user.password" name="password" #password="ngModel" validateEqual="confirmPassword" reverse="true" minlength="5" [required]="isSignUpForm">
    </div>
    <div class="form__col">
      <!-- [hidden]="!password.value" -->
      <input class="form-control" type="password" placeholder="password" [(ngModel)]="user.configmPassword" name="confirmPassword" validateEqual="password" #confirmPassword="ngModel" [disabled]="!password.value" [required]="isSignUpForm || password.value">
    </div>
  </div>
  <div class="form__row form__row--message">
    <div class="form__col">
      <div *ngIf="password.hasError('minlength')" class="alert alert-danger">Password must be at least 5 characters long.</div>
      <div [hidden]="(password.valid && confirmPassword.valid) || (password.pristine && confirmPassword.pristine) || confirmPassword.disabled" class="alert alert-danger">Password is required and must be equal.</div>
    </div>
  </div>

  <div class="form__row">
    <div class="form__col">
      <button class="btn btn--wide" type="submit" [disabled]="!signUpForm.form.valid">{{ isSignUpForm ? "Sign Up" : "Approve edit"}}</button>
      <label for="profile-edit" class="btn btn--wide btn--red btn--tiny" [hidden]="isSignUpForm">Cancel</label>
    </div>
  </div>
</form>
