<div class="content">
  <div class="welcome">
    <div class="welcome__logo"></div>
    <div class="welcome__form-wrapper">
      <input type="radio" class="welcome__radio" id="radio-sign-in" name="form-sign" checked>
      <div class="welcome__form welcome__form--sign-in">
        <label class="welcome__label" for="radio-sign-in">Sign In</label>
        <app-sign-in-form formId="form--sign-in"></app-sign-in-form>
      </div>

      <input type="radio" class="welcome__radio" id="radio-sign-up" name="form-sign">
      <div class="welcome__form welcome__form--sign-up">
        <label class="welcome__label" for="radio-sign-up">Sign Up</label>
        <app-user-form formId="form--sign-up"></app-user-form>
      </div>
    </div>
  </div>
</div>
