<form class="form form--compact form--filter" #filterForm="ngForm" (ngSubmit)="filterPosts($event)">
  <div class="form__row">
    <div class="form__col">
      <span class="input-icon">#</span>
      <input class="form-control" type="text" placeholder="tag" [(ngModel)]="params.tag" name="tag" (keydown.space)="$event.preventDefault()" #tag="ngModel">
    </div>
    <div class="form__col">
      <input class="form-control" type="number" placeholder="minimum rating" [(ngModel)]="params.rating" name="rating" value="0" #rating="ngModel">
    </div>
    <div class="form__col">
      <div class="checkbox">
        <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="params.photo" name="photo" #photo="ngModel">with photo</label>
      </div>
    </div>
    <div class="form__col"> <!--!filterForm.form.valid || (tag.length <= 0 && rating.length <= 0 && photo.length <= 0) -->
      <button class="btn btn--tiny btn--wide" type="submit" [disabled]="!filterForm.form.valid || (!tag.value && !photo.value && !rating.value)">Search</button>
    </div>
    <div class="form__col">
      <button class="btn btn--tiny btn--red" type="reset" (click)="resetFilter()">&#10005;</button>
    </div>
  </div>
</form>
{{diagnostic}}
