<div class="modal remodal" data-remodal-id="new-post" #component>
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="modal__content">
    <h2>Post:</h2>
    <form class="form form--compact form--post form--post-{{postType}}" #postForm="ngForm" (ngSubmit)="submitPost($event)" enctype="multipart/form-data">
      <div class="form__row">
        <div class="form__col">
          <input class="form-control" type="text" placeholder="title" [(ngModel)]="post.title" name="title" #title="ngModel">
        </div>
      </div>
      <div class="form__row">
        <div class="form__col">
          <textarea class="form-control" placeholder="text of a post" [(ngModel)]="post.body" name="body" #body="ngModel"></textarea>
        </div>
      </div>
      <div class="form__row">
        <div class="form__col">
          <div class="checkbox">
            <label class="btn btn--tiny btn--link">
              <span>upload a photo</span>                 <!--(change)="fileSelected($event.target.files[0])"-->
              <input type="file" (change)="addImage(event)" name="image" accept=".jpg,.jpeg" hidden #fileInput>
            </label>
          </div>
        </div>
        <div class="form__col form__btn-group">
          <span class="input-icon">#</span>
          <input class="form-control" type="text" placeholder="tag" [(ngModel)]="post.tag" name="tag" #tag="ngModel" (keydown.space)="$event.preventDefault()" [required]="post.tags.length <= 0">
          <button class="btn btn--tiny btn--wide" (click)="addTag()" [disabled]="!tag.value">Add tag</button>
        </div>
      </div>
      <div class="form__row" *ngIf="post.image">
        <div class="form__col">
          <strong>image:</strong>
          <span class="form__img" (click)="removeImg()">{{post.image}}</span>
        </div>
      </div>
      <div class="form__row">
        <div *ngIf="post.tags.length > 0" class="form__col">
          <strong>tags:</strong>
          <span class="form__hash" *ngFor="let t of post.tags" (click)="removeTag($event)">{{t}}</span>
        </div>
        <div *ngIf="post.tags.length <= 0" class="form__col">
          <span class="form__note">no tags</span>
        </div>
      </div>
      <div class="form__row">
        <div class="form__col">
          <button class="btn btn--tiny btn--wide" type="submit" [disabled]="!postForm.form.valid || post.tags.length <= 0 || (!body.value && !post.image)">Submit</button>
        </div>
      </div>
      <!--*ngIf="!body.value && !post.image || post.tags.length <= 0"-->
      <div class="form__row" >
        <div class="form__col">
          <ul class="form__note">
            <li *ngIf="!body.value && !post.image">Text and/or an image of a post is missing.</li>
            <li *ngIf="post.tags.length <= 0">At least one tag is required.</li>
          </ul>
        </div>
      </div>

      <div>
        <p class="form__error" [hidden]="postFileValid">The image is too large.</p>
      </div>
    </form>
  </div>
</div>
