<div class="page">
  <header class="header">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut autem cum dolor, dolores eum explicabo id laboriosam perspiciatis quia recusandae repudiandae rerum saepe sequi, tempora! Minima obcaecati repellendus vitae.</p>
  </header>
  <section class="content">
    <h1>Welcome to {{title}}!</h1>
  </section>
  <footer class="footer">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolore odio placeat porro provident quaerat quisquam sit. Deserunt distinctio incidunt iusto reiciendis, sequi totam? Aliquid perspiciatis saepe sed sequi voluptatum.</p>
  </footer>
</div>
