<div class="content">
  <div class="welcome">
    <div class="welcome__logo"></div>
    <div class="welcome__form-wrapper">
      <input type="radio" class="welcome__radio" id="radio-sign-in" name="form-sign" checked>
      <div class="welcome__form welcome__form--sign-in">
        <label class="welcome__label" for="radio-sign-in">Sign In</label>
        <form class="form" id="form--sign-in" action="">
          <div class="form__row">
            <div class="form__col">
              <input class="form-control" type="text" placeholder="email">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <input class="form-control" type="password" placeholder="password">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <button class="btn btn--wide" type="submit" form="" value="Sign In">Sign In</button>
            </div>
          </div>
        </form>
      </div>

      <input type="radio" class="welcome__radio" id="radio-sign-up" name="form-sign">
      <div class="welcome__form welcome__form--sign-up">
        <label class="welcome__label" for="radio-sign-up">Sign Up</label>
        <form class="form" id="form--sign-up" action="">
          <div class="form__row">
            <div class="form__col">
              <div class="form__image"></div>
              <label class="btn btn--tiny btn--link">Upload<input type="file" hidden></label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <input class="form-control" type="text" placeholder="first name">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
            <div class="form__col">
              <input class="form-control" type="text" placeholder="last name">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <input class="form-control" type="text" placeholder="email">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <input class="form-control" type="password" placeholder="password">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
            <div class="form__col">
              <input class="form-control" type="password" placeholder="password">
              <span class="form__msg form__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <button class="btn btn--wide" type="submit" form="" value="Sign In">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
