<header class="header">
  <a href="#" class="header__login"></a>
  <div class="header__logo-wrapper">
    <div class="header__logo"></div>
  </div>
  <nav class="menu menu--primary-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <ul class="menu__list">
            <li *ngFor="let item of primaryMenuItems" class="menu__item menu__item--{{item.id}}">
              <!-- <a href="#">{{item.title}}</a> -->
              <a routerLink="/{{item.slug}}" routerLinkActive="active">{{item.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
