// main: ./main.less

.feed  {
  .clearfix();
  background-image: none;
  background-position: center bottom 7px;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-bottom: 40px;

  &--loading {
    background-image: url('../images/loader.gif');
  }

  &__note {
    .font-size(@font-size--footer);
    margin-top: 20px;
    text-align: center;
  }
}
