// main: ./main.less

.feed  {
  .clearfix();

  &__note {
    .font-size(@font-size--footer);
    text-align: center;

    span {
      display: block;
    }
  }

  &__load-more {
    background-image: url('../images/reload.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-top: 75px;
    width: 30px;

    &:hover {
      .transform(rotate(180deg));
      .transition(transform);
    }
  }

  &__divider {
    margin-top: 100px; // 200px

    &--tiny {
      margin-top: 40px;
    }
  }
}
