// main: ./main.less

.form {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;

  &__row {
    .flex-direction(column);
    &:extend(.flex);
    margin: 15px 0;

    &+&--message {
      margin-top: -14px;
    }

    @media @xs {
      .flex-direction(row);
    }
  }

  &__col {
    &:extend(.flex__col);
    position: relative;
    margin: 10px 0;

    @media @xs {
      margin: 0 15px;
    }
  }

  &__image {
    background: transparent url('http://via.placeholder.com/1000x1000') no-repeat center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60%;
    width: 60%;
  }

  &__error {
    color: @color--red;
  }

  &__note {
    color: @color--dark-grey;
    margin-top: 20px;
  }

  &__msg {
    color: @color--primary;
    text-align: left;

    &--error {
      color: @color--red;
      display: none;
    }
  }

  &__hash {
    cursor: pointer;

    &:hover {
      color: @color--red;
    }

    &:before {
      content: "#";
      display: inline-block;
      margin-right: 1px;
      opacity: .8;
      position: relative;
    }

    &+& {
      margin-left: 20px;
    }
  }

  &__img {
    cursor: pointer;

    &:hover {
      color: @color--red;
    }
  }

  &__btn-group {
    .flex-display();

    .btn {
      margin-left: 10px;
    }
  }

  &__radio-item {
    input[type=radio] {
      display: none;

      &:checked {
        & + .form__radio-label {
          background-color: fade(@color--white, 80%);
          border-color: @color--white;
        }
      }
    }

    .form__radio-label {
      background-color: fade(@color--white, 30%);
      border: 1px solid fade(@color--white, 35%);
      border-radius: 3px;
      cursor: pointer;
      color: fade(@color--black, 70%);
      display: block;
      text-align: center;
      padding: 10px 25px;
    }
  }



  input, textarea {
    background-color: fade(@color--white, 40%);
    border: 1px solid @color--white;
    border-radius: 3px;
    text-align: center;

    &[disabled] {
      background-color: fade(@color--white, 15%);
      border: 1px solid fade(@color--white, 30%);

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: fade(@color--black, 10%);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: fade(@color--black, 10%);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: fade(@color--black, 10%);
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: fade(@color--black, 10%);
      }
    }

    &:not([type=checkbox]):not([type=radio]) {
      height: 40px;
      width: 100%;
    }

    &[type=checkbox] {
      //.transform(translate(0, 3px));
      margin-right: 10px;
      margin-top: 7px;
    }

    &[name=tag] {
      padding-left: 20px;
    }
  }

  textarea {
    display: block;
    //vertical-align:middle;
  }

  .input-icon {
    color: @color--primary;
    left: 10px;
    position: absolute;
    top: 3px;
  }

  .btn[disabled] {
    background-color: fade(@color--grey, 50%);
    border: 1px solid fade(@color--grey, 90%);
    color: fade(@color--grey, 70%);
    cursor: default;
  }

  &--compact {
    input:not([type=checkbox]), textarea {
      background-color: fade(@color--white, 20%);
      border: 1px solid @color--primary;
      color: @color--primary;
      height: 30px;

      &:active, &:focus {
        background-color: fade(@color--white, 20%);
      }
    }

    ::-webkit-input-placeholder {
      color: fade(@color--primary, 40%);
    }
    ::-moz-placeholder {
      color: fade(@color--primary, 40%);
    }
    :-ms-input-placeholder {
      color: fade(@color--primary, 40%);
    }
    :-moz-placeholder {
      color: fade(@color--primary, 40%);
    }

    .btn {
      background-color: fade(@color--secondary, 20%);
      border: 1px solid @color--secondary;
      color: @color--secondary;
      height: 30px;
      margin-bottom: 0;
      margin-top: 0;
      text-decoration: none;
      text-shadow: 0 0 3px fade(@color--black, 30%);

      &--red {
        background-color: fade(@color--red, 10%);
        border: 1px solid fade(@color--red, 20%);
        color: fade(@color--red, 50%);
      }

      &--green {
        background-color: fade(@color--white, 20%);
        border: 1px solid @color--primary;
        color: @color--primary;

        &:hover {
          background-color: fade(@color--primary, 100%);
          border: 1px solid fade(@color--primary, 100%);
        }
      }
    }

    .form__btn-group .btn {
      margin-left: 15px;
      width: 40%;
    }
  }


  &--filter {
    border-bottom: 1px solid @color--primary;
    color: @color--primary;
    margin: 0 -25px 40px -25px;
    max-width: inherit;
    padding: 7px 10px;

    .form__row:first-of-type {
      margin-top: 0;
    }

    .form__row:last-of-type {
      margin-bottom: 0;
    }

    .btn {
      margin: 0;
    }

    .form__col:last-of-type {
      .flex-grow(0);
    }
  }


  &--post {
    color: @color--primary;
    margin: 0 -25px 0 -25px;
    max-width: inherit;
    padding: 7px 10px;

    textarea {
      min-height: 50px;
    }

    label {
      width: 100%;
    }

    .btn:not(:disabled) {
      background-color: fade(@color--secondary, 80%);
      border: 1px solid @color--secondary;
      box-shadow: 0 0 5px fade(@color--black, 10%);
      color: @color--white;

      &:hover {
        background-color: fade(@color--secondary, 100%);
        box-shadow: 0 0 5px fade(@color--black, 20%);
      }
    }

    .form__col {
      .flex-grow(2);
    }

    .form__btn-group {
      .flex-grow(3);
    }

    [type=submit] {
      height: 40px;
      margin-top: 20px;
    }
  }

  &--comment {
    textarea {
      min-height: 50px;
      padding: 10px;
      width: 100%;
    }

    .btn {
      height: 50px;
      margin: 0 0 0 25px;
    }
  }
}


.ng-valid[required], .ng-valid.required,
.ng-valid.ng-dirty:not(form) {
  border-left: 5px solid @color--green;
}


//.ng-invalid[required] ???
.ng-invalid:not(form).ng-dirty {
  border-left: 5px solid @color--red; /* red */
}

.alert {
  margin-bottom: 0;
  margin-top: 7px;
  padding: 7px;
}
