// main: ./main.less

.header {

  &__login {
    //background: transparent url('../images/login.png') no-repeat center;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }

  &__logo {
    background: transparent url('../images/logo.png') no-repeat center;
    background-size: 350px 157px;
    display: inline-block;
    height: 40vh;
    margin: 10vh 0;
    width: 100%;
  }
}
