// main: ./main.less

.header {

  &__login {
    //background: transparent url('../images/login.png') no-repeat center;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }

  &__logo {
    height: 75vh;
    background: transparent url('../images/logo.png') no-repeat center;
    background-size: 480px 215px;
    width: 100%;
  }

  .menu {
    //height: 50px;
    border-bottom: 2px solid @color--primary;

    &__list {
      .clearfix;
    }

    &__item {
      .font-size(@font-size--menu);
      float: left;
      font-weight: @font-weight--semibold;
      list-style: none;
      padding: 20px 15px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        float: right;
      }

      &--active a {
        color: @color--secondary;
      }

      a {
        color: @color--primary;
      }
    }
  }

}
