// main: ./main.less

.menu {
  color: @color--primary;
  text-align: center;

  @media @sm {
    text-align: left;
  }

  &__list {
    .clearfix;
    border-bottom: 1px solid @color--primary;

    .header__menu & {
      padding-left: @page-content-padding;
      padding-right: @page-content-padding;
    }
  }

  &__item {
    .font-size(@font-size--menu);
    cursor: pointer;
    display: block;
    font-weight: @font-weight--semibold;
    list-style: none;
    margin-bottom: -1px;

    @media @sm {
      float: left;
    }

    &+&:before {
      color: @color--primary;
      margin: 0;

      @media @sm {
        content: '/';
      }
    }

    &--active a {
      color: @color--secondary;
    }

    a {
      .transition(border);
      border-bottom: 1px solid transparent;
      color: @color--primary;
      display: inline-block;
      padding: 5px 20px;

      &:hover {
        border-color: @color--secondary;
      }
    }
  }

  &--primary {
    .menu__item+.menu__item:last-of-type:before {
      display: none;
    }
    .menu__item:last-of-type {
      margin: 15px 0;
      @media @sm {
        float: right;
        margin: 0;
      }
    }
  }

  &--secondary {
    text-align: center;
    .menu__list {
      border-bottom: 1px solid @color--primary;
      display: inline-block;
      margin: 5px auto;
      padding: 0 20px;
    }

    .menu__item {
      .font-size(@font-size--footer);
    }
  }


  .active {
    font-weight: @font-weight--bold;
  }
}
