// main: ./main.less

.page {
  height: 100%;
  margin: 0 auto;
  max-width: @page-content-width;

  &--welcome {
    .header {
      display: none;
    }
  }

  &--profile {
    .header__logo {
      height: 25vh;
      background-size: 150px;
    }

    .header__menu {
      display: none;
    }
  }
}
