// main: ./main.less


.post {
  .font-size(@font-size--paragraph);

  /**
  *  Post details – page of a post.
  */

  &__content {
    padding: 15px 0;
  }

  &__tag-list {
    .clearfix;
    background-color: fade(@color--white, 30%);
    padding: 3px 10px;
  }

  &__tag {
    .font-size(@font-size--footer;);
    float: left;

    &+& {
      margin-left: 15px;
    }
  }

  &__author {
    .font-size(@font-size--footer);
    text-align: center;
  }


  /**
  *  Post in the post feed (in a collection of posts).
  */
  .feed & {
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;

    &__container {
      background-color: @color--white;
      border: 3px solid @color--white;
      border-radius: 10px;
      box-shadow: 0 0 13px fade(@color--black, 25%);
    }

    &__content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__rating {
      .transform(scale(.8));
      background-color: @color--primary;
      color: @color--white;
      display: inline-block;
      height: 50px;
      line-height: 53px;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 20px;
      width: 50px;
      z-index: 1;

      -webkit-mask-image: url(../images/star.svg);
      mask-image: url(../images/star.svg);

      -webkit-transition: transform .25s, background-color .25s, color .25s;
      -moz-transition: transform .25s, background-color .25s, color .25s;
      -ms-transition: transform .25s, background-color .25s, color .25s;
      -o-transition: transform .25s, background-color .25s, color .25s;
      transition: transform .25s, background-color .25s, color .25s;

      &:hover {
        .transform(scale(1));
        background-color: @color--secondary;
      }
    }

    &__image {
      .transition(opacity);
      height: auto;
      opacity: 0.8;
      width: 100%;

      &:hover {
        opacity: 1;
      }
    }

    &__tag-list {
      background-color: transparent;
      padding: 0;
    }

    &__tag {
      margin: 0 5px;
    }

    &__title a {
      .font-size(@font-size--h3);
      .transition(color);
      color: @color--black;

      &:hover {
        color: @color--secondary;
      }
    }

    &__footer {
      background-color: @color--grey;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      padding: 10px 5px;
    }
  }
}
