// main: ./main.less


.post-wrapper {
  position: relative;
  width: 100%;

  @media @sm {
    width: 33.33%;
  }
}

.post {
  .font-size(@font-size--paragraph);
  text-align: center;
  padding-top: 50px;

  /**
  *  Post details – page of a post.
  */

  &__content {
    padding: 15px 0;
    text-align: left;
  }

  &__header {
    //display: inline-block;
    min-height: 70px;
    position: relative;
    text-align: center;
  }

  &__image-wrapper {
    .flex-display();
    .align-items(center);
    max-height: 300px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__rating {
    .transform(scale(.8));
    background-color: @color--primary;
    color: @color--white;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 53px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px;
    z-index: 1;

    -webkit-mask-image: url(../images/star.svg);
    mask-image: url(../images/star.svg);

    -webkit-transition: transform .25s, background-color .25s, color .25s;
    -moz-transition: transform .25s, background-color .25s, color .25s;
    -ms-transition: transform .25s, background-color .25s, color .25s;
    -o-transition: transform .25s, background-color .25s, color .25s;
    transition: transform .25s, background-color .25s, color .25s;

    &:hover {
      .transform(scale(1));
      background-color: @color--secondary;
    }

    &+.post__tag-list {
      margin-top: 80px;
    }

    &--active {
      background-color: @color--secondary;
      color: @color--primary;
    }
  }

  &__body {
    margin: 0;
  }

  &__tag-list {
    .clearfix;
    background-color: fade(@color--white, 30%);
    display: inline-block;
    padding: 3px 10px;
    width: 100%;

    .post__image+& {
      margin-top: 0;
    }
  }

  &__tag {
    .font-size(@font-size--footer;);
    display: inline-block;
    margin: 0 10px;
  }

  &__author {
    .font-size(@font-size--footer);
    display: inline-block;
    margin-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;

    a {
      color: @color--secondary;
    }

    &--overlay {
      .transform(translate(-50%, 0));
      left: 50%;
      margin-top: -20px;
      position: absolute;
    }
  }

  &__footer {
    margin-top: 15px;
  }

  &__controls {
    margin-top: 25px;
  }

  &__control-item {
    & + & {
      margin-left: 10px;
    }
  }

  /**
  *  Post in the post feed (in a collection of posts).
  */
  .feed & {
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;

    &__container {
      background-color: @color--white;
      border: 3px solid @color--white;
      border-radius: 10px;
      box-shadow: 0 0 13px fade(@color--black, 25%);
    }

    &__content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__image {
      .transition(opacity);
      height: auto;
      opacity: 0.8;
      width: 100%;

      &:hover {
        opacity: 1;
      }
    }

    &__tag-list {
      background-color: transparent;
      margin-top: 0;
      padding: 0;
    }

    &__tag {
      float: left;
      margin: 0 5px;
    }

    &__author {
      margin-bottom: 0;
      margin-top: 20px;
      width: 100%;
    }

    &__title {
      margin-top: 0;

      a {
       .font-size(@font-size--h3);
       .transition(color);
       color: @color--black;

       &:hover {
         color: @color--secondary;
       }
     }
    }

    &__footer {
      background-color: @color--grey;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      margin-top: 0;
      padding: 10px 5px;
    }
  }
}
