// main: ./main.less

@page-content-width: 960px;
@page-content-padding: 25px;


@color--black: #0D1D1D;
@color--white: #fff;
@color--cream: #F7F6E4;
@color--grey: #D8D8D8;
@color--dark-grey: darken(@color--grey, 20%);
@color--red: #E72C72;
@color--primary: #205C5B;
@color--secondary: #F8CE5E;
@color--green: #42A948;


@font-size--h1: 32px, 42px;
@font-size--h2: 25px, 32px;
@font-size--h3: 19px, 25px;
@font-size--menu: 17px, 23px;
@font-size--paragraph: 15px, 17px;
@font-size--footer: 13px, 15px;
@font-size--footer-copyright: 11px, 15px;

@font-weight--bold: 700;
@font-weight--semibold: 500;
@font-weight--regular: 300;


@font--titilium: 'Titillium Web';



@xs: ~"only screen and (min-width: 500px)";
@sm: ~"only screen and (min-width: 768px)";
@md: ~"only screen and (min-width: 992px)";
@lg: ~"only screen and (min-width: 1200px)";
