<div class="content">
  <div *ngIf="viewedUser">
    <input type="checkbox" id="profile-edit" class="profile__edit-checkbox" hidden>
    <div class="profile" #profileContainer>
      <app-sign-up-form [user]="viewedUser" (edited)="registerEditingDone($event)" #form></app-sign-up-form>

      <div class="profile__info">
        <app-img [imgPath]="viewedUser.photo" [withClass]="'profile__photo'"></app-img>
        <div>

          <h2>{{viewedUser.firstName}} {{viewedUser.lastName}}</h2>
          <p>{{viewedUser.email}}</p>
          <p [hidden]="!viewedUser.birth">{{viewedUser.birth | date:'dd. MM. yyyy'}} ({{viewAge}})</p>

          <div *ngIf="isUserLogged" class="profile__controls">
            <a *ngIf="isAuthorizedUser" class="btn btn--tiny" (click)="registerEditing()">Edit</a>
            <a *ngIf="!isAuthorizedUser && !hasIncomingFRequest && !hasOutcomingFRequest && !isFriend" class="profile__friend-request" (click)="sendFriendRequest()">Send friend request</a>
            <a *ngIf="!isAuthorizedUser && hasIncomingFRequest" class="profile__friend-request profile__friend-request--cancel" (click)="cancelFriendship()">Cancel friend request</a>
            <a *ngIf="!isAuthorizedUser && hasOutcomingFRequest" class="profile__friend-request" (click)="approveFriendRequest()">Approve friend request</a>
            <a *ngIf="!isAuthorizedUser && isFriend" class="profile__friend-request profile__friend-request--cancel" (click)="cancelFriendship()">Cancel friendship</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isUserLogged && viewedUserLoaded">
    <app-post-feed [params]="params" [hasFilteredFeed]="hasFilteredFeed"></app-post-feed>
  </div>
</div>
