<app-filter-form *ngIf="hasFilteredFeed" [filterParams]="params.filterParams"></app-filter-form>
<div [hidden]="hasFilteredFeed" class="feed__divider feed__divider--tiny"></div>

<h2 *ngIf="title">{{title}}</h2>
<div *ngIf="posts && posts.length > 0" class="feed{{!!modifier ? ' feed--' + modifier : ''}}"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="loadPosts()">
    <masonry [useImagesLoaded]="true">
      <masonry-brick class="post-wrapper" *ngFor="let post of posts">
        <app-post-item [post]="post" [userLogged]="userLogged"></app-post-item>
      </masonry-brick>
    </masonry>
</div>
<div *ngIf="postRequestsFailed" class="feed__divider"></div>
<div [hidden]="postRequestsFailed || (posts.length <= 0 && requestedCounter > 0)" class="loader"></div>
<p class="feed__note">
  <span *ngIf="posts.length <= 0 && requestedCounter > 0">– No posts. –</span>
  <a *ngIf="postRequestsFailed || (posts.length <= 0 && requestedCounter > 0)" class="feed__load-more" (click)="forceLoadPosts($event)"></a>
</p>


