<div class="post">
  <div class="post__container">
    <header class="post__header">
      <a *ngIf="userLogged" class="post__rating" [ngClass]="{'post__rating--active': post.userRated }" (click)="togglePostRating(post.id)">
        <span *ngIf="post.rating">{{post.rating.length}}</span>
      </a>
      <a *ngIf="post.image" routerLink="/post/{{post.id}}">
        <img class="post__image" src="{{post.image}}" alt="">
      </a>
    </header>

    <div *ngIf="post.title || post.body" class="post__content">
      <h3 *ngIf="post.title" class="post__title">
        <a routerLink="/post/{{post.id}}">{{post.title}}</a>
      </h3>

      <p *ngIf="post.date" class="post__date">{{post.date | date:'H:mm, dd. MM. yyyy'}}</p>

      <div *ngIf="post.body && post.body.length > 500">
        <p class="post__body">{{post.body | slice:0:500}}...</p>
        <div>
          <a class="post__continue" routerLink="/post/{{post.id}}"> (continue reading)</a>
        </div>
      </div>

      <div *ngIf="post.body && post.body.length <= 500">
        <p class="post__body">{{post.body}}</p>
      </div>

      <p class="post__author">
        <a routerLink="/profile/{{post.user?.slug}}">– {{post.user?.firstName}} {{post.user?.lastName}} –</a>
      </p>
    </div>

    <div *ngIf="!(post.title || post.body)" class="post__content">
      <p *ngIf="post.date" class="post__date post__date--no-offset">{{post.date | date:'H:mm, dd. MM. yyyy'}}</p>
      <div class="post__author post__author">
        <a routerLink="/profile/{{post.user?.slug}}">– {{post.user?.firstName}} {{post.user?.lastName}} –</a>
      </div>
    </div>

    <footer class="post__footer">
      <ul *ngIf="post.tags" class="post__tag-list">
        <li class="post__tag" *ngFor="let tag of post.tags">
          <a routerLink="/tag/{{tag.name}}">#{{tag.name}}</a>
        </li>
      </ul>
    </footer>
  </div>
</div>

