<div class="content">
  <div class="post" *ngIf="post">

    <h2 *ngIf="post.title" class="post__title">{{post.title}}</h2>

    <div *ngIf="post.date">
      <p>{{post.date | date:'H:mm, dd. MM. yyyy'}}</p>
    </div>

    <header class="post__header">
      <a *ngIf="userLogged" class="post__rating" [ngClass]="{'post__rating--active': post.userRated }" (click)="togglePostRating(post.id)">
        <span *ngIf="post.rating">{{post.rating.length}}</span>
      </a>

      <div class="post__image-wrapper">
        <app-img *ngIf="post.image" [imgPath]="post.image" [withClass]="'post__image'" [isImg]="true"></app-img>
      </div>
    </header>

    <div>
      <a class="post__author" routerLink="/profile/{{post.user.slug}}">– {{post.user.firstName}} {{post.user.lastName}} –</a>
    </div>

    <div *ngIf="post.body" class="post__content">
      <p class="post__body">{{post.body}}</p>
    </div>

    <ul *ngIf="post.tags" class="post__tag-list">
      <li class="post__tag" *ngFor="let tag of post.tags">
        <a routerLink="/tag/{{tag.name}}">#{{tag.name}}</a>
      </li>
    </ul>

    <div class="post__controls" *ngIf="userLogged && user != null && post.user.id == user.id">
      <a class="post__control-item" (click)="editPost()">(edit)</a>
      <a class="post__control-item" (click)="deletePost()">(delete)</a>
    </div>
  </div>

  <div *ngIf="!postLoaded" class="loader"></div>

  <div *ngIf="postLoaded && !post">
    <h3>Post not found!</h3>
  </div>

  <app-post-comments *ngIf="post && userLogged" [user]="user" [userLogged]="userLogged" [post]="post"></app-post-comments>
</div>


